

#content {
  text-align: center;
  padding-top: 25%;
  padding-left: 5%;
  padding-bottom: 40%;


}
#card1-body-background{
	height: 400px;
	width: 800px;

}
#card1-background{
  height: 400px;
	background-color: grey;
  width: 1000px;
  text-align: center;
}
#card1-background h1,h5{
  color: white;
  margin-top: 5%;
}
#card1-background h5{
  color: white;
}
body {
   width:1200px;
   margin:0 auto;
}
#ExperienceJumbo {
  background-color: white;
}
#IR {
  background-image: url('images/coming-soon.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  height: "315";
  width: "560";
}
.c {
  text-align: center;
  margin-top: 5%;
}
body {
  position: relative;
}
a {
    outline: 0;
}

#projectjumbo {
  background-color: rgb(244, 248, 255);
  text-align: center;
}
.list-group-item-mine:hover{
  background-color: red;
}
.{
    outline:0;
}

#card {
  margin-bottom: 8%;
  margin-bottom: 8%;

  align-items: center;
}

.gdocs {
  display: inline-block;
  margin:auto;
  /* background-image: url("images/drive.png"); */
}
.card-body {
  background-color: white;
  border-color: white;
  color: black;
}
.card-header {
  background-color: white;
  border-color: white;
  color: black;
}
.card-footer {
  background-color: white;
  border-color: white;
  color: black;
}
.container-fluid{
  border-color: white;
}

.card-text{

  border-color: white;
  color: black;
}

#phone {
  display: flex;

}
#aboutsection
{
	padding-top: 10%;
}

#aboutjumbo {
   background-color: white;
}
#drive {

}
#face {
   border-radius: 50%;
}
.gdocs {
  display: inline;
}
#creater {
  text-align: right;
}
.circletag {
    /* display: block; */
    margin: auto;
    width: 400px;
    height: 400px;
    background: #E6E7ED;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-image: url('images/face.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
}
#projectCards {
    padding-top: 10%;
}
#h1about{
  color: black;
  text-align: center;
}
#pabout{
  color: black;
  text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25px;
}

.personal-assistant{
    padding: 30px 30px 30px 30px;
}
